.first-look {
  padding-top: 35vh; /* or 18vh */
}
.first-look--text_container > h3,
h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 1px;
}
.first-look--text_subtitle {
  font-size: var(--font-size-main);
	color: var(--color-first);
}
.first-look--text_title {
  font-size: 10vh;
  font-weight: 400;
  color: var(--color-first);
}
.first-look--text_postfix {
  /* text-transform: uppercase; */
  font-weight: 600;
  font-size: 10vh;
	display: flex;
	flex-wrap: wrap;
  /* margin-inline-start: -0.5vw; */
}
b {
	color: initial
}
.i-am {
  /* font-size: var(--font-size-main); */
  color: var(--color-first);
  font-weight: 400;
}
@media (max-width: 576px) {
	.first-look {
  padding-top: 25vh; /* or 18vh */
	}
  .first-look--text_title {
    font-size: 40px;
  }
  .first-look--text_postfix {
		font-size: 40px;
		/* flex-direction: column; */
  }
}
.first-look--arrow-container {
  height: 130px;
  width: 3%;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  bottom: 2vh;
  transform: translateX(-50%);
}
.first-look--arrow-container_wrapper {
  height: 130px;
  width: inherit;
}
.first-look--arrow-container_wrapper-2 {
  width: 30px;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
}
.first-look--arrow-container_wrapper-2 > div {
  height: 30px;
  width: 30px;
  transform: rotate(45deg);
}
.first-look--arrow {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 30px;
  box-shadow: 5px 5px var(--color-first);
}
.arrow--down_first {
  animation: 3s ease-out 0s infinite arrow--down_first;
}
.arrow--down_second {
  animation: 3s ease-out 0s infinite arrow--down_second;
}
@keyframes arrow--down_first {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  90% {
    transform: translate(0, 0);
    opacity: 0;
  }
  100% {
    transform: translate(80%, 80%);
    opacity: 1;
  }
}
@keyframes arrow--down_second {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  90% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(150%, 150%);
    opacity: 0;
  }
}
