.project--description {
	position: fixed;
	height: auto;
	width: 22%;
	top: 25vh;
	left: 10.7%;
	z-index: 1;
	color: white;
}
.project--descr_name {
	margin-bottom: 10px;
}
.project--descr_text {
	font-size: 16px;
	color: var(--color-0);
	font-family: var(--ubuntu);
	margin-bottom: 45px;
	line-height: 20px;
}
.project--descr_grid {
	display: grid;
	grid: 1fr / 4fr 3fr
}
.project--grid_header {
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.project--grid_list {
	font-size: 16px;
	line-height: 16px;
	color: var(--color-0);
	margin-bottom: 0;
}
.project--instruments li {
	margin: 0 0 5px 25px;
}
.project--grid_inner-list li {
	margin: 0 0 5px 35px;
}
.project--view {
	font-family: var(--ubuntu);
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: start;
	height: calc(100% - 30px); /* header's line-height + margin-bottom */
	margin: 2px 0 0 10px;
}
.view_button label {
	width: 92px;
}
.project--image-full {
	position: absolute;
	width: 48.6%;  /* 53% */
	height: auto;
	padding-bottom: 12vh;
	top: 15vh;
	right: 10.7%;
	z-index: 3;
}
.img-animation {
	animation: easeOutCubic 700ms;
}
.project--image-full img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	box-shadow: 2px 2px 5px rgba(1, 1, 1, .1), -2px -2px 5px rgba(1, 1, 1, .1);
}
.img-full {
	width: 48.6%;
}
/* добавить !important ? */
.img-mobile {
	right: 22.8%;
	width: 24.3%;
}
@keyframes easeOutCubic {
  0% {
		opacity: 0;
		margin-right: 20px;
	}
	5% {
		opacity: 0;
		margin-right: 20px;
		/* right: 12.7%; */
}
  100% {
		opacity: 1;
		margin-right: 0;
		/* right: 10.7%; */
  }
}
.project--background {
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
}
