.works {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.works_column {
	width: calc(7.3%*5 + 2.95%*4);
}
.works_column a {
	text-decoration: none;
	color: var(--color-0)
}
