.button-radio_div {
	display: inline-block;
}
.button-radio_div input {
	display: none;
}
.button-radio_div label {
	box-sizing: border-box;
	display: inline-block;
	height: 36px;
	min-width: 64px;
	padding: 10px 16px;
	margin-bottom: 16px;

	border: 1px solid var(--color-0);
	border-radius: 3px;

	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;
	user-select: none;
	text-align: center;
	font-size: 14px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	color: var(--color-0);
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}
.button-radio_div input:checked + label {
	background-color: var(--color-0);
}
.button_prj_0 input:checked + label {
	color: var(--color-1);
}
.button_prj_1 input:checked + label {
	color: var(--color-3);
}
.button_prj_2 input:checked + label {
	color: var(--color-2);
}
.button_prj_3 input:checked + label {
	color: var(--color-4);
}
