.content {
	min-height: 100vh;
	height: auto;
	width: inherit;
	position: relative;
	z-index: 1;
}
.content-container {
	min-height: inherit;
	height: auto;
	width: 94.6%;
	margin: 0 2.8% 0 2.6%;
	padding: 6vh 8.1% 3vh;
	box-sizing: border-box;
}
.arrow-up {
	position: absolute;
	right: calc(5.5%*3 + 2.6%*4);
	height: 44px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.arrow-up img {
	width: 29px;
	height: 11px;
}
.content--title-block {
	height: 9vh;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	color: var(--color-first);
}
.content--title {
	color: white;
	font-family: var(--ubuntu);
}
.href_contacts {
	background-color: var(--color-bgd-3);
}

.href_works {
	background-color: var(--color-bgd-2);
}
.href_works .content--title {
	color: var(--color-second);
}
