.content {
	min-height: 100vh;
	height: auto;
	width: inherit;
	position: relative;
	z-index: 1;
}
.content-container {
	min-height: inherit;
	height: auto;
	width: 94.6%;
	margin: 0 2.8% 0 2.6%;
	padding: 6vh 8.1% 0;
	box-sizing: border-box;
}
.content--title-block {
	height: 9vh;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	color: var(--color-first);
}
.content--title {
	color: white;
}
.href_contacts {
	background-color: var(--color-bgd-3);
}
