.contacts--container {
	display: grid;
	height: 85vh;
	width: calc(7.3%*6 + 2.95%*5);
	margin: auto;
	grid-template: .2fr .8fr auto auto / 1fr;
	align-items: center;
	justify-content: space-between;
}
@media (max-width: 576px) {
	.contacts--container {
		width: calc(7.3%*10 + 2.95%*9);
		grid-template: .15fr .85fr auto auto / 1fr;
	}
}
.contacts--subtitle, .contacts--footer {
	font-family: var(--comfortaa);
	color: var(--color-text-1);
	font-size: var(--font-size-list-header);
}
.contacts--subtitle {
	align-self: end;
	justify-self: center;
}

.contacts--footer ul {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
}
.contacts--footer li {
  margin: 0 3vmin;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.contacts--footer a {
	text-decoration: underline;
	text-decoration-color: transparent;
	color: var(--color-text-1);
  transition: all 300ms ease-in-out 50ms;
}
.contacts--footer li:hover a {
	text-decoration-color: var(--color-bgd-2);
}
.footer {
	position: relative;
	bottom: 0;
	display: grid;
  box-sizing: border-box;
  padding: 5vh 0;
  grid-template-areas:
    "div"
    "text";
	gap: 5vh;
	justify-items: center;
  text-align: center;
}
@media (max-width: 1400px) {
	.footer {
		gap: 3vh;
		padding: 3vh 0;
	}
}
/* ваа */
.footer div {
  height: 0;
  width: 0;
  border-width: 1px 30vw 1px 3vw;
  border-style: dashed;
  border-color: var(--color-second);
  align-self: left;
  grid-area: div;
}
.footer p {
  grid-area: text;
  font-size: var(--font-size-main);
	color: var(--color-text-1);
	font-family: var(--montserrat);
}
