@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap&subset=cyrillic');


/*  расчет ширины viewport: calc(100vw - (100vw - 100%))
		на заметку: ширину viewport также можно получить из documemt
		размеры разметки в viewport [5.5*13 + 2.6*13]
		размеры разметки внутри content-container [7.3%*10 + 3.05%*10]

	fonts:
		main: 16px,
		header: 40px,
		list: 16px,
		list-header: 20px

	z-index:
		0 - layout
		1 - most of other components
		2 - header
		3 - full image of project */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* colors: */
	--color-0: rgba(255, 255, 255, 0.8);
	--color-1: #B50837;
	--color-2: #4b9b56; /* fb8b24    */
	--color-3: #731dd8;
	--color-4: #ff8552;
	--color-first: #848484;
	--color-second: #58595b;
	--color-text-1: #f2f2f2;
	--color-bgd-3: #383839;
	/* fonts */
	--montserrat: 'Montserrat', sans-serif;
	--ubuntu: 'Ubuntu', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-font {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 20px;
}
.headers-font {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}
.headers-of-work-font {
	font-size: 38px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 44px;
	margin-bottom: 30px;
}
.descr-of-work-font {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 15px;
}
.color-first {
	color: #848484;
}
.color-second {
	color: #111;
}
