@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,600,700&display=swap&subset=cyrillic');

/*  расчет ширины viewport: calc(100vw - (100vw - 100%))
		на заметку: ширину viewport также можно получить из documemt
		размеры разметки в viewport [5.5*13 + 2.6*13]
		размеры разметки внутри content-container [7.3%*10 + 3.05%*10]

	z-index:
		0 - layout
		1 - most of other components
		2 - header
		3 - full image of project */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* colors: */
	--color-0: rgba(255, 255, 255, 0.8);
	--color-3: #B50837;
	--color-4: #4b9b56; /* fb8b24    */
	--color-1: #731dd8;
	--color-2: #ff8552;
	--color-first: #848484;
	--color-second: #58595b;
	--color-text-1: #f2f2f2;
	--color-bgd-2: #f7f7f7;
	--color-bgd-3: #383839;
	/* font-family */
	--montserrat: 'Montserrat', sans-serif;
	--ubuntu: 'Ubuntu', sans-serif;
	--comfortaa: 'Comfortaa', cursive;
	/* font-size */
	--font-size-main: 16px;
	--font-size-header: 40px;
	--font-size-list: 16px;
	--font-size-list-header: 20px;
	/* line-height */
	--line-height-main: 20px;
	--line-height-header: 44px;
	--line-height-list-header: 24px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 1400px) {
	body {
		/* font-size */
		--font-size-main: 14px;
		--font-size-header: 28px;
		--font-size-list: 16px;
		--font-size-list-header: 15px;
		/* line-height */
		--line-height-main: 18px;
		--line-height-header: 29px;
		--line-height-list-header: 16px;
	}
	@media (max-width: 1300px) {
		body {
			/* font-size */
			--font-size-main: 13px;
			--font-size-header: 25px;
			--font-size-list: 16px;
			--font-size-list-header: 15px;
			/* line-height */
			--line-height-main: 16px;
			--line-height-header: 27px;
			--line-height-list-header: 16px;
		}
	}
}
@media (max-width: 576px) {
	body {
		/* font-size */
		--font-size-main: 14px;
		--font-size-header: 25px;
		--font-size-list: 16px;
		--font-size-list-header: 15px;
		/* line-height */
		--line-height-main: 16px;
		--line-height-header: 27px;
		--line-height-list-header: 16px;
	}
}
.headers-of-work-font {
	font-family: var(--montserrat);
	font-size: var(--font-size-header);
	font-weight: 600;
	text-transform: uppercase;
	line-height: var(--line-height-header);
}
.descr-of-work-font {
	font-family: var(--ubuntu);
	font-size: var(--font-size-list-header);
	line-height: var(--line-height-list-header);
	font-weight: 400;
}
