.project {
	min-height: 92vh;
	width: 100%;
	height: auto;
	display: block;
	margin-top: 8vh;

	background-color: #B50837;
}
.project--image-full {
	display: block;
	width: 53%;
	min-height: 100vh;
	height: auto;
	position: absolute;
	top: 15vh;
	right: 12%;
	z-index: 1;
}
.project--image-full > img {
	width: 100%;
	height: auto;
}
